[features]
seeds = false

[test.validator]
url = "http://127.0.0.1:8899"

[test]
startup_wait = 10_000

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"
# --resolveJsonModule ./tsconfig.json 

[workspace]
members = [
  "programs/system",
  # …other program folders…
]

[programs.devnet]           # or localnet, mainnet, etc.
light-system-program-pinocchio = "6gEhFxTXp41MeTHdbvnV9YHxkWLtJfyzGa2N7Kx6fCHr"
